<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.neusoft.woaccept">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name=".MyApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${label}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.PaymentActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.NewNetworkActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activities.PaymentSearchActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateVisible"/>

        <activity
            android:name=".activities.PaymentSearchResultActivity_"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.SelectNumActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EntryCustomerInfoActivity_"
            android:screenOrientation="portrait"/>

    </application>

</manifest>